/* calendar-wrapper */ 

.calendar-wrapper {
    margin-left: 10vw;
    width: 50vw;
}

/* calendar-container */ 

.calendar-container {
    border-top: 4px solid #fac863;
}

@media (max-width: 768px) {
    .calendar-wrapper {
        width: 80vw;
        margin-right: 5vw;
        margin-left: 10vw;
        max-height: 52vh;
        overflow: auto;
    }
    .tool-bar-button, .tool-bar-button--today {
        margin: 1px;
    }
}

@media (max-width: 500px) {
    .calendar-wrapper {
        width: 90vw;
        margin: 0 0vw 0 5vw;
    }
}

