/* other commands */



/* calendar grid *geral* */

.calendar-grid {
    position: relative;
    border-style: solid;
    border-width: 1px;
    padding: 0;
    vertical-align: top;
    border-color: #ddd;
    border-right: none;
}

/* row-day-name */

.grid-day-name {
    padding: 0;
    border-right: 1px solid #ddd;
    font-weight: 900;
}

.row-day-name {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

/* days grid */ 


.day-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.grid-item {
    height: 5rem;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    overflow: auto;
}

.last {
    border-right: none;
}

.grid-previously-item {
    color: grey;
}

.day-number {
    padding: 2px;
}

.current {
    color: #6f4d09;
    font-weight: 900;
}

.event-icon {
    width: 15px;
    height: 15px;
    margin-bottom: 1px;
    border-radius: 50%;
    border: 1px solid black;
}

.selected {
    border: 1px solid rgb(99, 221, 221);
    height: 4.63rem;
}


.each-day-number {
    height: 2rem;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
}

.event-title {
    height: 2rem;
    width: 90%;
    margin: 0;
    word-wrap: break-word;
}


